body {
  font-family: Poppins;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns:repeat(var(--cols),35px);
  grid-template-rows: repeat(var(--rows),35px);
  gap: 2px;
  user-select: none;
  border-collapse: collapse;
}

.box {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
}

.selected {
  background-color: lightblue;
}